

@font-face {
    font-family: Font;
    src: url('../fonts/akrobat-light.woff2') format('woff2'),
    url('../fonts/akrobat-light.woff') format('woff');
}

body {
    font-family: Font,-apple-system,
    BlinkMacSystemFont,
    Segoe UI, Roboto,
    Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue,
    sans-serif;
    font-weight: bold;
    font-stretch: ultra-expanded;
}


table {
    margin: 0 auto;
}

.font-yellow {
    color: #FFEC00;
}

p {
    margin: 0;
}

.container {
    overflow: auto;
}

.section {
    width: 100%;
    min-width: 400px;
    text-align: center;
}

.section__table {
    width: 100%;
    min-width: 400px;
    border-collapse: collapse;
}

.section__table td {
    padding: 0.5em;
}

/* Section header */
.section__header {
    color: white;
    background-color: black;

}

/* Section header end */


/* Radio */

.radio {

}

.radio__input {
    position: absolute;
    opacity: 0;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
}

.radio__icon {
    width: 1em;
    height: 1em;
    background-image: url("../img/non-checked.png");
    background-size: 1em;

    background-repeat: no-repeat;
    background-position: center;
}

/* end Radio */

/* Radio checked */

.radio__input:checked + .radio__icon {
    background-image: url("../img/checked.png");
}

/* Radio checked end*/

/*persons number table*/
/*persons number table end*/

.section__footer button {
    border: 2px solid #FFEC00;
    border-radius: 5px;
    padding: 0.5em 3em;
}

.persons-number__img {
    height: 2em;
}

.section__main-img{
   padding: 1em;
    /*margin: 1em;*/
    border: 1px solid #FFEC00;
}

.section__main-img img{
    /*height: 100%;*/
    /*width: 100%;*/
}

