html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/****** fonts ******/
@font-face {
    font-family: Akrobat;
    src: url('../fonts/akrobat-light.woff2') format('woff2'),
    url('../fonts/akrobat-light.woff') format('woff');
}

@font-face {
    font-family: daysOne;
    src: url("../fonts/Days_One/DaysOne-Regular.ttf");
}

body, input {
    font-family: daysOne, sans-serif;
    font-weight: 400;
}

button {
    font-family: daysOne, sans-serif;
    font-weight: 400;
}

/****** fonts end ******/


table {
    margin: 0 auto;
    text-align: center;
}

.large {
    font-size: larger;
}

.small {
    font-size: x-small;
    font-weight: bold;
}

.font-yellow {
    color: #FFEC00;
}

p {
    margin: 0;
}

/*container*/
.container {

    margin: 0 auto;
}

/*container end*/

/*section*/
.section {
    width: 100vw;
    max-width: 960px;
    min-width: 700px;
    text-align: center;
    margin: 0 auto;
    height: 90vh;
}

.section__main-img {
    padding: 1em;
}

.section__main-img div {
    border: 1px solid #FFEC00;
    height: 350px;
    width: 100%;
    min-width: 400px;
    max-width: 400px;
    margin: 0 auto;
    background: url("../pictures/A1.jpg") round no-repeat;
    background-size: auto 100%;

}

/*section end*/

/*section table*/
.section__table {
    margin: 1em 0;
    width: 100%;
    /*min-width: 400px;*/
    height: 100%;
    border-collapse: collapse;
}

.section__table td {
    padding: .5em;
}



/*section table end*/

/* Section header */
.section__header {
    width: 100%;
    margin: 0 auto;
    color: white;
    background-color: black;
    padding: 1em;
}

/* Section header end */

/* Radio */
.radio__input {
    position: absolute;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radio__icon {
    margin: 0 auto;
    width: 1.5em;
    height: 1.5em;
    background-image: url("../img/non-checked.png");
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: center;
}

/* Radio checked */
.radio__input:checked + .radio__icon {
    background-image: url("../img/checked.png");
}

/* Radio checked end*/
/* end Radio */

/*section footer*/
.section__footer button {
    /*font-family: sans-serif;*/
    border: 1px solid grey;
    box-shadow: 0 0 0 2px #FFEC00;
    border-radius: 5px;
    padding: 0.5em 3em;
    background-color: transparent;
}

/*section footer end*/

/*icons*/
.icons {
    height: 2em;
}

.services {
    height: 2em;
    padding-left: 1em;
}

/*icons end*/

/*second section*/
.second-section .section__table{
    height: 80vh;
}

.akrobat {
    font-family: Akrobat, sans-serif;
}

.borders {
    border-left: solid #FFEC00 1px;
    border-right: solid #FFEC00 1px;
}

.second-section_img {
    padding: 1em;
}

.second-section_img div {
    border: 1px solid #FFEC00;
    width: 20vw;
    height: 20vw;
    max-width: 270px;
    min-width: 150px;
    max-height: 270px;
    min-height: 150px;
    margin: 0 auto;
    background: url("../pictures/A2.jpg");
    background-size: auto 100%;
}

.second-section table {
    width: 100%;
}

/*second section end*/

/*last section*/
.last-section{
    min-width: 750px;
}
.last-section_img div {
    border: 1px solid #FFEC00;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.last-section__small-img {
    padding: 0;
}

.last-section__small-img div {
    padding: 2px;
    border: 1px solid #FFEC00;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.last-section table {
    width: 100%;
}

.last-section .section__table td {
    padding: 0;
}

/*last section end*/


/*last-section section-main*/
.last-section{
    height: 90vh;
}
.section-main {
    display: flex;
    width: 95%;
    padding:  1% 2.5% 0 2.5%;
    margin: 0 auto;
    max-width: 800px;
    height: 70vh;
}

.section-main__col {

    margin: 0.5em;
    width: 60%;
}

.section-main__coll {
    margin: 0.5em;
    width: 20%;
    display: flex;
    flex-direction: column;

}

.section-main__small {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

}

.section-main__small-pic {
    border: 2px solid #FFEC00;
    position: relative;
    height: 100%;
    width: 55%;
    background-image: url("../img/person0.png");
    background-size:  auto 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.section-main__med-pic {
    border: 2px solid #FFEC00;
    position: relative;
    height: 100%;

    width: 100%;
    background: url("../pictures/A3.jpg");
    background-size: auto 100%;
}

.section-main__big-pic {
    border: 2px solid #FFEC00;
    /*padding: 48% 0;*/
    background: url("../pictures/A1.jpg");
    background-size: auto 100%;
    height: 100%;
}



/*last-section main end*/

/*section-footer*/
.section-footer {
 max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.section-footer__col {
    /*border: 1px dotted grey;*/
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.section-footer__coll {
width: 25%;
    /*border: 1px dotted grey;*/
}

.section-footer__row {
    padding: 0.5em;
    width: 100%;
    /*border: 1px dotted grey;*/
    display: flex;
    justify-content: flex-end;

}

.section-footer__row .price {
    position: relative;
    padding: 1em 2em;
    background-color: #FFEC00;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px grey;
    width:100%;


}

.section-footer__col input {
    border: 1px solid grey;
    box-shadow: 0 0 0 2px #FFEC00;
    border-radius: 5px;
    padding: 0.5em;
    margin-right: 0.5em;
    width: 30%;
}

.section-footer__col input[type="button"] {
    background-color: black;
    color: white;
}

.content {

    width: 100%;
    position: absolute;
    font-size: 2.5em;
    top:-.5rem;

    right:0;
    margin: auto auto;

    /*padding: ;*/
}

/*section-footer end*/







