.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@font-face {
    font-family: Akrobat;
    src: url('../fonts/akrobat-light.woff2') format('woff2'),
    url('../fonts/akrobat-light.woff') format('woff');
}

body {
    font-family: sans-serif;
    font-weight: 400;
}

table {
    margin: 0 auto;
    text-align: center;
}

/*td {*/
/*    padding: 0;*/
/*}*/
.large{
    font-size: larger;
}

.small{
    font-size: x-small;
    font-weight: bold;
}

.font-yellow {
    color: #FFEC00;
}

p {
    margin: 0;
}

/*container*/
.container {
    overflow: auto;
    max-width: 960px;
    margin: 0 auto;
}
/*container end*/

/*section*/
.section {
    width: 100%;
    min-width: 400px;
    text-align: center;
}

.section__main-img {
    padding: 1em;
}

.section__main-img div {
    border: 1px solid #FFEC00;
    height: 300px;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
}
/*section end*/

/*section table*/
.section__table {
    margin: 1em 0;
    width: 100%;
    min-width: 400px;
    border-collapse: collapse;
}

.section__table td {
    padding: 0.5em;
}
/*section table end*/

/* Section header */
.section__header {
    color: white;
    background-color: black;
    padding: 1em;
}
/* Section header end */

/* Radio */
.radio__input {
    position: absolute;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radio__icon {
    margin: 0 auto;
    width: 1em;
    height: 1em;
    background-image: url("../img/non-checked.png");
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: center;
}

/* Radio checked */
.radio__input:checked + .radio__icon {
    background-image: url("../img/checked.png");
}
/* Radio checked end*/
/* end Radio */

/*section footer*/
.section__footer button {
    font-family: sans-serif;
    border: 2px solid #FFEC00;
    border-radius: 5px;
    padding: 0.5em 3em;
    background-color: transparent;
}
/*section footer end*/

/*icons*/
.icons {
    height: 2em;
}

.services{
    height: 2em;
    padding-left: 1em;
}
/*icons end*/

/*second section*/
.akrobat{
    font-family: Akrobat,sans-serif;
}

.borders{
    border-left: solid #FFEC00 1px;
    border-right: solid #FFEC00 1px;
}

.second-section_img {
    padding: 1em;
}

.second-section_img div {
    border: 1px solid #FFEC00;
    width: 20vw;
    height: 20vw;
    max-width: 270px;
    max-height: 270px;
    margin: 0 auto;
}

.second-section table{
    width: 100%;
}
/*second section end*/

/*last section*/
.last-section_img div {
    border: 1px solid #FFEC00;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.last-section__small-img {
    padding: 0;
}

.last-section__small-img div {
    padding: 2px;
    border: 1px solid #FFEC00;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.last-section table{
    width: 100%;
}

.last-section .section__table td{
    padding: 0;
}
/*last section end*/











